.center-text {
	text-align: center;
}

.login-text {
  margin: 2%; 
}

.red-text{
  color: red;
}

.white-text{
  color: white;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#000000;
  height: 1px;
}

.new-line {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#999999;
  height: 1px;
}

